@import '~antd/dist/antd.css';

.logo {
  /* height: 32px; */
  /* max-width: 100vw; */
  margin: 16px;
  /* background: rgba(233, 233, 233, 0.2) url(./images/crypto.png); */
}
.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }
  .my-div{
    height: 200px;
    background: goldenrod;
  }
  .show-more {
    float: right;
    margin-top: 35px;
  }
  /* .side-bar{
    height: 100%;
    position: fixed;
  } */
  .content-area{
    height: 90vh;
    overflow-y: scroll
  }
  .search-input{
    margin: 6px 0;
  }